.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.3);
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.2s ease;
}

.loader {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;

    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
